<div id="intro-small" class="container-fluid dark graybg">
	<div class="row">
		<%= link_to (image_tag("aurora-web-logo.png", class: "logo", alt: "Logo of Trevor AI")), root_path %>
		<h3 class="animated fadeIn"><%= link_to "Home", root_path %> / Investors</h3>
	</div>
</div>

<div class="container-fluid dark">
	<div class="row section-top">
        <h1 class="text-center feature-title">Fuel the future of mobility</h1>
        <%= image_tag("web5.png", class: "render") %>
        <div class="feature-content">
			<div class="col-md-6 feature-column">
				<h3 class="">Pitch Deck</h3>
				<p>Our pitch deck will be available shortly.</p>
			</div>
			<div class="col-md-6 feature-column">
				<h3 class="">Meet the Founders</h3>
				<p>George Petrov is the original founder and designer of the Aurora R. Connect with him on <a href="https://www.linkedin.com/in/george-petrov-a5b25147">LinkedIn</a> or get in touch via <a href="mailto:george@trevorlabs.com">Email</a>.</p>
			</div>
		</div>
    </div>
</div>