
<div class="modal fade" id="TermsAndConditions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Terms and Conditions</h4>
      </div>
      <div class="modal-body">
        <h1>Trevor Labs Terms of Service</h1>
        <p><b>Effective Date:</b> January 30, 2016</p>

        <h3>Welcome to Trevor A.I.</h3>
        <p>
        Welcome to Trevor A.I.! Trevor A.I. service (“Service”) is provided by Trevor Labs Ltd. (“Trevor Labs”). By using our Service and this website, you are agreeing to these Terms of Service (“Terms”), all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you are using the Service on behalf of an organization or entity (“Organization”), then you are agreeing to these Terms on behalf of the Organization. In that case, “you” and “your” may refer to the Organization. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.
        </p>
        <h3>Amendments to the Terms of Service</h3>
        <p>
        Trevor Labs may modify existing terms and/or update these terms with additional terms that apply to the Service. For example, mandatory changes to the law may be reflected in the existing terms. Mandatory changes to the law and changes addressing new functions for the Service are effective immediately. You are responsible for checking the terms regularly to stay informed. Trevor Labs may or may not also post notice of modification to these Terms on this page or via the email address you registered with us. You should discontinue your use of our Service if you do not agree with updated/modified Terms.
        </p>

        <h3>Your Content in Our Service</h3>
        <p>
        Our Service allows you to upload, download and store content, including but not limited to, information, text, graphics, videos, audios, or other material (“Content”). You retain ownership of any intellectual property rights that you hold in that Content. By uploading, storing, sending or receiving Content to or through our Service, you give Trevor Labs and its service partners a worldwide license to host, store, upload and download this Content and only for the purpose of providing Service strictly to you and your use of the Content. We reserve our right at all times, but are not obligated, to remove or refuse to distribute any Content through the Service including your Content.
        </p>

        <h3>Privacy Protection</h3>
        <p>
        Your privacy is very important to us. Accordingly we have developed our Privacy Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. By using our Service, you automatically agree to our privacy policies and Trevor Labs can use such data in accordance with its privacy policies.
        </p>

        <h3>Software in Our Service</h3>
        <p>
        When the Service requires or includes downloadable software, this software may update automatically on your device once a new version or features become available to you. Some platforms may let you adjust your automatic update settings.
        </p>
        <p>
        Trevor Labs gives you a worldwide, royalty-free, personal, non-assignable and non-exclusive license to use the software provided by Trevor Labs as part of the Service. You are prohibited from copying, modifying, distributing, selling, or leasing any part of our Service or included software, nor are you allowed to reverse engineer or attempt to extract the source code of the software, unless local laws prohibit those restrictions or you have our written permission.
        </p>

        <h3>Modifying and Terminating Our Service</h3>
        <p>
        Trevor Labs aims to provide new functionalities or features and improve existing ones for the purpose of improving, changing, and/or updating the Service. Trevor Labs also retains the right to suspend or stop the Service with at least thirty (30) days prior notice to the complete shutdown of the Service.
        </p>
        <p>
        You can choose to stop using our Service at will. We may also stop providing Service to you, or add or create new limitations to our Service at any time as detailed in the Terms.
        </p>

        <h3>Using Our Service</h3>
        <p>
        You must follow any policies made available to your within the Service. You may only use our Service as permitted by law. Trevor Labs may investigate and/or suspend or terminate our Service to you at any time if we find your use of our Service violates the Terms and/or any policies.
        </p>
        <p>
        Using our Service does not grant you ownership of any intellectual property rights in our Service or the content you may have access to. You may not use any copyrighted content in our Service unless you obtain permission from the content owner and/or are otherwise permitted by law. The Terms do not grant you the right to use any branding or logos used in our Service. Our Service may display some logos, trademarks, or branding materials that is not the property of Trevor Labs. These types of content are the sole responsibility of the entity that makes it available.
        </p>
        <p>
        You must not abuse and/or misuse our Service, including but not limited to, doing the following things:
        </p>
        <p>
        - Using the Service for any unlawful purposes or activities;<br/>
        - Interfering with or disrupting the access of any user, host, or network;<br/>
        - Accessing or tampering with the Service’s server systems;<br/>
        - Sending unsolicited promotions or advertisements;<br/>
        - Abusing or submitting excessively frequent requests to the Service via the API.<br/>
        - Uploading any content to the Service in violation of any applicable law, including but not limited to, intellectual property laws and publicity laws;<br/>
        - Trevor Labs, in its sole discretion, will determine abuse and/or misuse of our Service.<br/>
        </p>

        <h3>Limited Liability for Our Service</h3>
        <p>
        TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE SERVICE IS AVAILABLE “AS IS”. YOU EXPRESSLY UNDERSTAND AND AGREE THAT:
        <br/><br/>
        WHEN PERMITTED BY LAW, TREVOR LABS AND ITS SERVICE PARTNERS, LICENSORS, EMPLOYEES, AGENTS WILL NOT BE RESPONSIBLE FOR ANY LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES UNDER ANY CIRCUMSTANCES.
        <br/><br/>
        YOUR USE AND/OR PURCHASE OF SERVICE ARE ALL AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN “AS IS” BASIS.
        <br/><br/>
        TREVOR LABS DOES NOT WARRANT THAT:
        <br/><br/>
        THE SERVICE WILL MEET ALL OF YOUR REQUIREMENTS AT ALL TIMES;<br/>
        THE SERVICE WILL BE ERROR-FREE AND ALL ERRORS IN THE SERVICE WILL BE CORRECTED;<br/>
        THE SERVICE WILL BE UNINTERRUPTED.<br/>
        ALL CONTENT DOWNLOADED, UPLOADED AND/OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER EQUIPMENT OR DEVICES, INCLUDING BUT NOT LIMITED TO, LAPTOP COMPUTERS, DESKTOP COMPUTER, TABLETS, SMARTPHONES AND SMARTWATCHES, OR ANY DATA LOSS RESULTING FROM DOWNLOAD OR USE OF ANY SUCH ABOVE MENTIONED MATERIAL.
        <p>
        Trevor Labs, ltd. has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Trevor Labs, ltd. of the site. Use of any such linked web site is at the user's own risk.
        </p>
        <p>
        The materials appearing on Trevor Labs' web site could include technical, typographical, or photographic errors. Trevor Labs does not warrant that any of the materials on its web site are accurate, complete, or current. Trevor Labs may make changes to the materials contained on its web site at any time without notice. Trevor Labs does not, however, make any commitment to update the materials.
        </p>

        <h3>Information gathering and usage</h3>
        <p>
        When registering for Trevor A.I. we ask for information such as your name, email address and other information provided by the Google Account you signed in with. Information collected during sign up is displayed in the Google Sign In panel, or page, as well as in our privacy policy. Your information is used for the purpose of providing a personalized experience.
        </p>

        <h3>Governing Law</h3>
        <p>
        Any claim relating to Trevor Labs, ltd.'s web site shall be governed by the laws of the State of Sofia, Bulgaria, 1164 without regard to its conflict of law provisions.
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<style type="text/css"> #iubenda-cs-banner { bottom: 0 !important; left: 0px !important; position: fixed !important; width: 96% !important; margin: 0 2% 2% 2% !important; z-index: 99999998 !important; background-color: white; font-size: 1em !important; box-shadow: 0px 2px 10px;} .iubenda-cs-content { display: block; margin: 0 auto; padding: 20px; width: auto; font-family: Helvetica,Arial,FreeSans,sans-serif; font-size: 14px !important; background: white; color: #5a5a5a;} .iubenda-cs-rationale { max-width: 900px; position: relative; margin: 0 auto; } .iubenda-banner-content > p { font-family: Helvetica,Arial,FreeSans,sans-serif; line-height: 1.5; font-size: 1em !important; } .iubenda-cs-close-btn { margin:0; color: #fff; text-decoration: none; font-size: 14px; position: absolute; top: 0; right: 0; border: none; } .iubenda-cs-cookie-policy-lnk { text-decoration: underline; color: rgb(80,150,190); font-size: 14px; font-weight: 900; } </style> <script type="text/javascript"> var _iub = _iub || []; _iub.csConfiguration = {"lang":"en","siteId":492756,"banner":{"textColor":"#dadada","backgroundColor":"#5A5A5A","slideDown":false,"applyStyles":false},"cookiePolicyId":7790939}; </script><script type="text/javascript" src="//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" charset="UTF-8" async></script>


<% if false %>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#ffffff",
      "text": "#000000"
    },
    "button": {
      "background": "#008cb4"
    }
  },
  "position": "bottom",
  "content": {
    "message": "This website uses cookies to provide you with a great personalized experience on our website.",
    "link": "Read our Privacy Policy",
    "href": "https://www.iubenda.com/privacy-policy/7790939"
  }
})});
</script>
<% end %>